@import "tailwindcss";

:root {
  --background: #F8F9FD;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
}

body {
  background: #F8F9FD;
  background: radial-gradient(circle at 40% 40%, #EDF3FD, #F9FBFC00 100%);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
  min-height: 100vh;
}
